<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
 
{{.Name}} </br>
{{.Address}} </br>
{{.City}} </br>
{{.Zip}} </br>
{{.Region}}

{{end}}

</body>
</html>