<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Address</title>
</head>
<body>

<h1> You have {{.Amount}} AVAX </h1>
<h2> It's {{.Price}} $ </h1>


</body>
</html>