<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}

<h1>{{.AcaYear}}</h1>
<li>{{.Fall.Term}}</li>

{{range .Fall.Courses}}
<ul>{{.Number}} - {{.Name}} - {{.Units}}</ul>
{{end}}

<li>{{.Spring.Term}}</li>
{{range .Spring.Courses}}
<ul>{{.Number}} - {{.Name}} - {{.Units}}</ul>
{{end}}

{{end}}

</body>
</html>